* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.textRight {
    text-align: right;
}
.textCenter {
    text-align: center;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

a:link,
a:visited {
    text-decoration: none;
}

.row,
.row::after,
.row::before {
    clear: both;
    display: table;
    width: 100%;
}

[class^="col-"]{
    float: left;
    padding: 0px 15px;
}
.col-3 {
    width: calc(100% * 3 / 12);
}

.col-4{
    width: calc(100% * 4 / 12);
}

.col-5{
    width: calc(100% * 5 / 12);
}
.col-9{
    width: calc(100% * 9 / 12);
}
.offset-2{
    margin-left: calc(100% * 2 / 12);
}
.offset-1{
    margin-left: calc(100% * 1 / 12);
}

.offset-4 {
    margin-left: calc(100% * 4 / 12);
}

.mb-70, .mt-70{
    margin: 70px;
}

.mb-80{
    margin-bottom: 80px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-130{
    margin-bottom: 130px;
}
.pri-heading{
    font-size: 32px;
    color: #010101;
    font-weight: bold;
    margin-bottom: 20px;
}
.sec-heading{
    color: #313841;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 25px;
}
.paragraph{
    color: #555555;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 40px;
}
